
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Welcome <strong>@Html.Encode(User.Identity.Name)!</strong></h2>
<br />
<p>
    The appearance of your student records says a lot about the quality of your school.
    Other educators and registrars make judgments based on student records that can
    permanently affect a student's life. SMS capabilities include the basics such as
    transcripts, report cards, attendance, and discipline as well as many other specialized
    capabilities, including parental access to real time student grades on the
    Internet. This means that not only administrators but also parents, teachers, and
    students have access to real-time data. With traditional reporting methods parents
    may not find out how their student is performing in school until the end of the quarter
    or semester -- usually too late to correct a problem situation. SMS allows parents to
    know how their student is doing on a continual basis by using the internet. SMS can
    even send electronic progress reports to parents via email on a weekly, monthly, or
    even daily basis.
</p>

<br />

<p>
    The School Management System (SMS) will replace the paper-based data collection
    and information exchange system among the various departments of a particular
    school.
    The School Management System provides an innovative solution for Today’s school
    record-keeping challenges. This school management software will give you room to
    handle your responsibilities whether you’re just starting or are an experienced
    professional.
</p>