@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student Management System</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Student Management System</h2>
        <p>
            Student Management System is a sample application to manage your students and instructors
            records, grades, courses, enrollments etc. 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How to use it?</h2>
        <p>Just follow this documentation</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Complete Student Management System</h2>
        <p>It's a relational database driven software. SQL relation databases used here.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>